body{
  background: rgb(235, 224, 203);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
  background: rgb(214, 187, 171);
}

img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}